ul{
    margin:0%;
    padding:0%;
    list-style: none;
}
ul li{
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 92px;
    text-transform: uppercase;

}
ul li a{
    text-decoration: none;
    display: block;
}
ul li a:hover{
    background-color: #594c51 !important;
    text-decoration: none !important;

}
ul li ul li {
    display: none;
}
ul li:hover ul li{
    display: block;
    text-transform: capitalize;
    text-decoration: none !important;

}
body{
  background-image: url("https://myrealdomain.com/images/background-nuvens-4.png");
  background-size: cover;
}
h2{
  font-weight: bold;
}
#button{
  margin:20px;
    padding:0%;
}
.foot{
    color:#fff;
     background: #4e594c;
}

.gif{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  margin-top: -2px;
  margin-bottom: 20px;
}
.form-heading{
    text-align: center;
}
.login{
    width: 500px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  margin-top: -2px;
  margin-bottom: 20px;
  width:150px;
   height:80px;
}
.form-heading{
    text-align: center;
}
#LoginForm{
    background-image:url("");
}
h3{
    font-style: oblique;
}